<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Odin's Bulletin</h1>
    <a href="/new" class="msg-btn">Create Message</a>
    <p class="intro-txt">Scroll down to see your message!</p>
    <main>
      <% messages.map(message => { %>
      <div class="msg-container">
        <p class="msg-name"><%= message.username || "empty name" %></p>
        <p class="msg-txt"><%= message.message || "empty message" %></p>
        <p class="msg-date"><%= message.date %></p>
      </div>
      <% })%>
    </main>
    <%- include("./components/footer") %>
  </body>
</html>
